.footer__wrapper {
   position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      width: 100%;
      color: #FFFFFF;
      background: #333;
      font-size: 1em;
      text-align: center;
      line-height: 50px;
}